{% extends "layout.html" %}

{% block body %}
<div style="width: 400px;">
  <h2>Welcome to Scribase!</h2>
  This is a database of all kinds of useful scripts.<br><br>
  Some boost your day to day work efficiency on your PC.
  Some are just fun to play around with.
  Some are for teaching/learning purposes.<br><br>
  Step in to explore what we have in store!
</div>
<br><br>
<div>
  Currently there
  {% if active_count == 1 %}
  is {{ active_count }} active user.
  {% else %}
  are {{ active_count }} active users.
  {% endif %}
  &nbsp;&nbsp;(Users that have posted scripts or comments to the forum)
</div>
{% endblock %}