{% extends "layout.html" %}

{% block body %}
<h1>{{ user.username }}</h1>
User scripts:
<table>
  <tr>
    <th>Script</th>
    <th class="pre">       </th>
    <th>Language</th>
  </tr>
  {% for script in scripts %}
  <tr>
    <td><a href="{{ url_for('script_show', script_id=script.id) }}">{{ script.name }}</a></td>
    <td></td>
    <td>{{ script.language }}</td>
  </tr>
  {% endfor %}
</table>

<br><br>

{% if current_user.id == user.id %}
User favourites:
<table>
  <tr>
    <th>Script</th>
    <th class="pre">       </th>
    <th>Language</th>
  </tr>
  {% for fav in favourites %}
  <tr>
    <td><a href="{{ url_for('script_show', script_id=fav.id) }}">{{ fav.name }}</a></td>
    <td></td>
    <td>{{ fav.language }}</td>
  </tr>
  {% endfor %}
</table>

<br><br>
{% endif %}

User comments:
<table>
  <tr>
    <th>Title</th>
    <th class="pre">       </th>
    <th>Comment</th>
    <th class="pre">       </th>
    <th>Links</th>
    <th class="pre">       </th>
    <th>Date created</th>
  </tr>
  {% for comment in comments %}
  <tr>
    <td style="font-size: 20px;">{{ comment.title }}</td>
    <td></td>
    <td class="pre">{{ comment.content }}</td>
    <td></td>
    <td>
      <a href="{{ url_for('script_show', script_id=comment.script_id) }}">Related script</a>
      <br>
      <a href="{{ url_for('comment_show', comment_id=comment.id) }}">Edit</a>
    </td>
    <td></td>
    <td>
      {{ comment.date_created }}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}