{% extends "layout.html" %}
  
{% block body %}
Post a new script:<br><br>

<form method="POST" action="{{ url_for('script_create') }}">
  <table>
    <tr>
      <td>
        <span class="pre">{{ form.name.label }}    </span>
      </td>
      <td>
        <span class="pre">{{ form.name }}    </span>
      </td>
      <td>
        {% for error in form.name.errors %}
        {{ error }}<br>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.language.label }}
      </td>
      <td>
        {{ form.language }}
      </td>
      <td>
        {% for error in form.language.errors %}
        {{ error }}<br>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.content.label }}
      </td>
      <td>
        {{ form.content }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Confirm"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}