{% extends "layout.html" %}

{% block style %}
<style>
div.indented {
  position: relative;
  left: 15px;
}

pre.code {
  white-space: pre-wrap;
  background-color: #DCDCDC;
  width: 70%;
}
</style>
{% endblock %}



{% block body %}
<h1>{{ script.name }}</h1>
by: {{ author }}<br><br>
Made with {{ script.language }}.<br><br>

<pre class="code">
<div class="indented">
{{ script.content }}
</div>
</pre>

<br><br><br>
<form method="POST" action="{{ url_for('script_modify', script_id=script.id) }}">
  Edit content: <br><textarea rows="5" cols="60" name="content">{{ script.content }}</textarea><br><br>
  <input type="submit" value="Confirm"/>
</form>
{% endblock %}